<page-header [title]="'merchants.create.title' | translate" [hideBreadcrumb]="false"></page-header>

<div class="w-full h-full" fxLayout="row wrap">
  <ng-container *ngIf="languages$ | async as languages">
    <mat-card class="mat-elevation-z4 m-auto" style="max-width: 90%">
      <form class="form-field-full" [formGroup]="form">
        <mat-form-field appearance="outline">
          <mat-label>{{ 'merchants.create.name' | translate }}</mat-label>
          <input matInput formControlName="name" />
          <mat-error *ngIf="form.controls.name.invalid">
            {{ 'validations.required' | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ 'merchants.create.code' | translate }}</mat-label>
          <input matInput formControlName="code" />
          <mat-error *ngIf="form.controls.code.invalid">
            {{ 'validations.required' | translate }}
          </mat-error>

          <mat-error *ngIf="form.controls.code.errors?.unique">
            {{ 'validations.exist' | translate : { value: form.controls.code.value } }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ 'merchants.create.phone' | translate }}</mat-label>
          <input matInput formControlName="phone" />
          <mat-error *ngIf="form.controls.phone.invalid">
            {{ 'validations.required' | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ 'merchants.create.email' | translate }}</mat-label>
          <input matInput formControlName="email" />
          <mat-error *ngIf="form.controls.email.invalid">
            {{ 'validations.required' | translate }}
          </mat-error>
        </mat-form-field>

        <div formGroupName="address">
          <mat-form-field appearance="outline">
            <mat-label>{{ 'merchants.create.address.address' | translate }}</mat-label>
            <input matInput formControlName="address" />
            <mat-error *ngIf="form.controls.address.get('address')?.invalid">
              {{ 'validations.required' | translate }}
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>{{ 'merchants.create.address.city' | translate }}</mat-label>
            <input matInput formControlName="city" />
            <mat-error *ngIf="form.controls.address.get('city')?.invalid">
              {{ 'validations.required' | translate }}
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>{{ 'merchants.create.address.country' | translate }}</mat-label>
            <mat-select formControlName="country">
              <mat-option *ngFor="let country of countries$ | async" [value]="country.code">
                {{ country.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls.address.get('country')?.invalid">
              {{ 'validations.required' | translate }}
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>{{ 'merchants.create.address.state_province' | translate }}</mat-label>
            <mat-select formControlName="stateProvince">
              <mat-option *ngFor="let state of stateProvinces$ | async" [value]="state.code">
                {{ state.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls.address.get('stateProvince')?.invalid">
              {{ 'validations.required' | translate }}
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>{{ 'merchants.create.address.postal_code' | translate }}</mat-label>
            <input matInput formControlName="postalCode" />
            <mat-error *ngIf="form.controls.address.get('postalCode')?.invalid">
              {{ 'validations.required' | translate }}
            </mat-error>
          </mat-form-field>
        </div>

        <mat-form-field appearance="outline">
          <mat-label>{{ 'merchants.create.supported_languages' | translate }}</mat-label>
          <mat-select formControlName="supportedLanguages" multiple>
            <mat-option *ngFor="let language of languages" [value]="language.code">
              {{ 'language.' + language.code | translate }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls.supportedLanguages.invalid">
            {{ 'validations.required' | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ 'merchants.create.default_language' | translate }}</mat-label>
          <mat-select formControlName="defaultLanguage">
            <mat-option *ngFor="let language of languages" [value]="language.code">
              {{ 'language.' + language.code | translate }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls.defaultLanguage.invalid">
            {{ 'validations.required' | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ 'merchants.create.currency' | translate }}</mat-label>
          <mat-select formControlName="currency">
            <mat-option *ngFor="let currency of currencies$ | async" [value]="currency.code">
              {{ currency.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls.currency.invalid">
            {{ 'validations.required' | translate }}
          </mat-error>
        </mat-form-field>

        <div>
          <mat-checkbox formControlName="currencyFormatNational">{{
            'merchants.create.currency_format_national' | translate
          }}</mat-checkbox>
        </div>

        <mat-form-field appearance="outline">
          <mat-label>{{ 'merchants.create.dimension' | translate }}</mat-label>
          <mat-select formControlName="dimension">
            <mat-option *ngFor="let dimension of dimensions$ | async" [value]="dimension">
              {{ dimension }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls.dimension.invalid">
            {{ 'validations.required' | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ 'merchants.create.weight' | translate }}</mat-label>
          <mat-select formControlName="weight">
            <mat-option *ngFor="let weight of weights$ | async" [value]="weight">
              {{ weight }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls.weight.invalid">
            {{ 'validations.required' | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ 'merchants.create.in_business_since' | translate }}</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="inBusinessSince" />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="form.controls.inBusinessSince.invalid">
            {{ 'validations.required' | translate }}
          </mat-error>
        </mat-form-field>

        <div>
          <mat-checkbox formControlName="useCache">{{
            'merchants.create.use_cache' | translate
          }}</mat-checkbox>
        </div>

        <div>
          <mat-checkbox formControlName="retailer">{{
            'merchants.create.retailer' | translate
          }}</mat-checkbox>
        </div>

        <mat-form-field appearance="outline">
          <mat-label>{{ 'merchants.create.retailer_store' | translate }}</mat-label>
          <mat-select formControlName="retailerStore">
            <mat-option
              *ngFor="let retailerStore of retailerStores$ | async"
              [value]="retailerStore.code"
            >
              {{ retailerStore.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls.retailerStore.invalid">
            {{ 'validations.required' | translate }}
          </mat-error>
        </mat-form-field>

        <button
          class="w-full"
          mat-raised-button
          color="primary"
          (click)="form.valid ? create($event) : null"
          [disabled]="form.invalid"
        >
          {{ 'merchants.create.submit' | translate }}
        </button>
      </form>
    </mat-card>
  </ng-container>
</div>
