<page-header [title]="'products.variants.list.title' | translate" [hideBreadcrumb]="false">
</page-header>

<ng-container *ngIf="storeParam$ | async as storeParam">
  <ng-container *ngIf="state$ | async as state">
    <ngx-dyna-table
      #table
      [data]="state.variants"
      [columns]="columns"
      [pageIndex]="state.page"
      [pageSize]="pageSize"
      [total]="state.total"
      [selectable]="selectable"
      [sortable]="sortable"
      [showEdit]="showEdit"
      [showDelete]="showDelete"
      [showAdd]="showAdd"
      [showMore]="showMore"
      [permsToAdd]="permsToAdd"
      [permsToEdit]="permsToEdit"
      [permsToDelete]="permsToDelete"
      [multiSortable]="multiSortable"
      [stickyHeader]="stickyHeader"
      [showAction]="showAction"
      (pageChange)="handlePageChange($event)"
      (sortChange)="handleSortChange($event)"
      (rowClick)="handleItem($event)"
      (actionEdit)="handleEdit($event)"
      (actionDelete)="handleDelete($event)"
      (actionAdd)="handleAdd()"
      (filterChange)="handleFilter($event)"
    >
    </ngx-dyna-table>
  </ng-container>
</ng-container>
