<page-header></page-header>

<div class="form-field-full" [formGroup]="form" *ngIf="selected$ | async">
  <mat-form-field appearance="outline">
    <mat-label>{{ 'merchants.create.address.address' | translate }}</mat-label>
    <input matInput formControlName="address" />
    <mat-error *ngIf="form.controls.address.get('address')?.invalid">
      {{ 'validations.required' | translate }}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>{{ 'merchants.create.address.city' | translate }}</mat-label>
    <input matInput formControlName="city" />
    <mat-error *ngIf="form.controls.address.get('city')?.invalid">
      {{ 'validations.required' | translate }}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>{{ 'merchants.create.address.country' | translate }}</mat-label>
    <mat-select formControlName="country" [compareWith]="compareCode">
      <mat-option *ngFor="let country of countries$ | async" [value]="country.code">
        {{ country.name }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="form.controls.address.get('country')?.invalid">
      {{ 'validations.required' | translate }}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>{{ 'merchants.create.address.state_province' | translate }}</mat-label>
    <mat-select formControlName="stateProvince">
      <mat-option *ngFor="let state of stateProvinces$ | async" [value]="state.code">
        {{ state.name }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="form.controls.address.get('stateProvince')?.invalid">
      {{ 'validations.required' | translate }}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>{{ 'merchants.create.address.postal_code' | translate }}</mat-label>
    <input matInput formControlName="postalCode" />
    <mat-error *ngIf="form.controls.address.get('postalCode')?.invalid">
      {{ 'validations.required' | translate }}
    </mat-error>
  </mat-form-field>

  <button
    type="button"
    class="w-full"
    mat-raised-button
    color="primary"
    (click)="create($event)"
    [disabled]="form.invalid"
  >
    {{ 'common.submit' | translate }}
  </button>
</div>
