<page-header
  [title]="'users.change_password.title' | translate"
  [subtitle]="'users.change_password.subtitle' | translate"
  [hideBreadcrumb]="false"
></page-header>

<div class="w-full h-full" fxLayout="row wrap" *ngIf="id$ | async as id">
  <mat-card class="mat-elevation-z4 m-auto" style="max-width: 90%">
    <form class="form-field-full" [formGroup]="form">
      <mat-form-field appearance="outline">
        <mat-label>{{ 'users.create.password' | translate }}</mat-label>
        <input matInput type="password" formControlName="password" />
        <mat-error *ngIf="form.controls.password.errors?.required">
          {{ 'validations.required' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'users.create.repeat_password' | translate }}</mat-label>
        <input matInput type="password" formControlName="repeatPassword" />
        <mat-error *ngIf="form.errors?.notMatch">
          {{ 'validations.required' | translate }}
        </mat-error>
      </mat-form-field>

      <div class="button-row">
        <button
          type="button"
          class="w-full"
          mat-raised-button
          color="primary"
          (click)="form.valid ? changePassword(id) : null"
          [disabled]="form.invalid"
        >
          {{ 'users.update.submit' | translate }}
        </button>

        <button type="button" class="w-full" mat-raised-button [routerLink]="['/users', id]">
          {{ 'common.back' | translate }}
        </button>

        <button
          type="button"
          class="w-full"
          mat-raised-button
          color="accent"
          [routerLink]="['/users', 'list']"
        >
          {{ 'users.update.back_to_list' | translate }}
        </button>
      </div>
    </form>
  </mat-card>
</div>
