<p mat-dialog-title>Rename image</p>
<div class="w-full h-full" [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>{{ 'common.path' | translate }}</mat-label>
    <input matInput formControlName="path" />
    <mat-error *ngIf="form.controls.path.invalid">
      {{ 'validations.required' | translate }}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>{{ 'common.new_name' | translate }}</mat-label>
    <input matInput formControlName="newName" />
    <mat-error *ngIf="form.controls.newName.invalid">
      {{ 'validations.required' | translate }}
    </mat-error>
  </mat-form-field>

  <button mat-button type="button" (click)="handleSubmit($event)">Submit</button>
  <button mat-button mat-dialog-close>Close</button>
</div>
