<input
  type="file"
  [accept]="fileTypes"
  class="file-input"
  (change)="onFileSelected($event)"
  #fileUpload
/>

<div class="file-upload">
  <img [src]="imageUrl" alt="image preview" *ngIf="imageUrl; else noImage" />

  <ng-template #noImage>
    <div class="no-image">
      <mat-icon>image</mat-icon>
      <span>{{ 'fileUpload.noImage' | translate }}</span>
    </div>
  </ng-template>
  <button
    mat-mini-fab
    color="primary"
    class="upload-btn"
    (click)="$event.preventDefault(); $event.stopPropagation(); fileUpload.click()"
  >
    <mat-icon>attach_file</mat-icon>
  </button>
</div>
