<page-header></page-header>

<div class="w-full h-full" *ngIf="languages$ | async as languages">
  <form class="form-field-full" [formGroup]="form" *ngIf="selected$ | async as selected">
    <mat-form-field appearance="outline">
      <mat-label>{{ 'common.code' | translate }}</mat-label>
      <input matInput formControlName="code" />
    </mat-form-field>

    <div>
      <mat-checkbox formControlName="visible">
        {{ 'common.visible' | translate }}
      </mat-checkbox>
    </div>

    <app-descriptions
      [languages]="languages"
      [ignoreFields]="['name', 'title', 'friendlyUrl', 'highlights', 'metaDescription', 'keyWords']"
      formControlName="descriptions"
    ></app-descriptions>

    <button mat-button type="button" (click)="update(selected.id, $event)">Update</button>
  </form>
</div>
