<ng-container *ngIf="menus$ | async as menus">
  <page-header title="Create User" [hideBreadcrumb]="false" [menus]="menus"></page-header>
</ng-container>

<div class="w-full h-full" fxLayout="row wrap">
  <mat-card class="mat-elevation-z4 m-auto" style="max-width: 90%">
    <form class="form-field-full" [formGroup]="form">
      <mat-form-field appearance="outline">
        <mat-label>{{ 'register.firstName' | translate }}</mat-label>
        <input matInput formControlName="firstName" />
        <mat-error *ngIf="form.controls.firstName.invalid">
          {{ 'validations.required' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'register.lastName' | translate }}</mat-label>
        <input matInput formControlName="lastName" />
        <mat-error *ngIf="form.controls.lastName.invalid">
          {{ 'validations.required' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'register.email' | translate }}</mat-label>
        <input matInput formControlName="emailAddress" />
        <mat-error *ngIf="form.controls.emailAddress.errors?.required">
          {{ 'validations.required' | translate }}
        </mat-error>
        <mat-error *ngIf="form.controls.emailAddress.errors?.unique">
          {{ 'validations.exist' | translate : { value: form.controls.emailAddress.value } }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'users.create.password' | translate }}</mat-label>
        <input matInput type="password" formControlName="password" />
        <mat-error *ngIf="form.controls.password.errors?.required">
          {{ 'validations.required' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'users.create.repeat_password' | translate }}</mat-label>
        <input matInput type="password" formControlName="repeatPassword" />
        <mat-error *ngIf="form.errors?.notMatch">
          {{ 'validations.required' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'users.create.merchant' | translate }}</mat-label>
        <mat-select formControlName="merchant">
          <mat-option *ngFor="let merchant of stores$ | async" [value]="merchant.code">
            {{ merchant.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="m-y-16" fxLayout="row" fxLayoutAlign="space-between center">
        <mat-checkbox formControlName="active">{{ 'profile.active' | translate }}</mat-checkbox>
      </div>

      <ng-container *ngIf="languages$ | async as languages">
        <mat-form-field appearance="outline">
          <mat-label>{{ 'profile.defaultLanguage' | translate }}</mat-label>
          <mat-select formControlName="defaultLanguage">
            <mat-option *ngFor="let language of languages" [value]="language.code">
              {{ 'profile.' + language.code | translate }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>

      <ng-container *ngIf="groups$ | async as groups">
        <mat-form-field appearance="outline">
          <mat-label>{{ 'profile.groups' | translate }}</mat-label>
          <mat-select [compareWith]="compareGroup" multiple formControlName="groups">
            <mat-option *ngFor="let group of groups" [value]="group">
              {{ 'profile.' + group.name | translate }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>

      <button
        class="w-full"
        mat-raised-button
        color="primary"
        (click)="form.valid ? create($event) : null"
        [disabled]="form.invalid"
      >
        {{ 'users.create.submit' | translate }}
      </button>
    </form>
  </mat-card>
</div>
