<ng-container [formGroup]="form">
  <div formArrayName="descriptions">
    <ng-container *ngFor="let language of languages; let i = index" [formGroupName]="i">
      <mat-form-field appearance="outline">
        <mat-label>{{ 'brands.create.language' | translate }}</mat-label>
        <mat-select formControlName="language" (selectionChange)="hanldeCountryChange($event)">
          <mat-option *ngFor="let language of languages" [value]="language.code">
            {{ language.code }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="getIndexedFormGroup(i).controls.description.errors?.required">
          {{ 'validations.required' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'brands.create.title' | translate }}</mat-label>
        <input matInput formControlName="title" />
        <mat-error *ngIf="getIndexedFormGroup(i).controls.description.errors?.required">
          {{ 'validations.required' | translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>{{ 'brands.create.name' | translate }}</mat-label>
        <input matInput formControlName="name" />
        <mat-error *ngIf="getIndexedFormGroup(i).controls.name.errors?.required">
          {{ 'validations.required' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'brands.create.friendly_url' | translate }}</mat-label>
        <input matInput formControlName="friendlyUrl" />
        <mat-error *ngIf="getIndexedFormGroup(i).controls.friendlyUrl.errors?.required">
          {{ 'validations.required' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'brands.create.highlights' | translate }}</mat-label>
        <input matInput formControlName="highlights" />
        <mat-error *ngIf="getIndexedFormGroup(i).controls.highlights.errors?.required">
          {{ 'validations.required' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'brands.create.meta_description' | translate }}</mat-label>
        <input matInput formControlName="metaDescription" />
        <mat-error *ngIf="getIndexedFormGroup(i).controls.metaDescription.errors?.required">
          {{ 'validations.required' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'brands.create.keyWords' | translate }}</mat-label>
        <input matInput formControlName="keyWords" />
        <mat-error *ngIf="getIndexedFormGroup(i).controls.keyWords.errors?.required">
          {{ 'validations.required' | translate }}
        </mat-error>
      </mat-form-field>

      <div appearance="outline">
        <mat-label>{{ 'brands.create.description' | translate }}</mat-label>
        <app-rich-editor formControlName="description"></app-rich-editor>
        <mat-error
          *ngIf="
            getIndexedFormGroup(i).controls.description.dirty &&
            getIndexedFormGroup(i).controls.description.errors?.required
          "
        >
          {{ 'validations.required' | translate }}
        </mat-error>
      </div>
    </ng-container>
  </div>
</ng-container>
