<div class="w-full h-full" fxLayout="row nowrap">
  <mat-card
    class="mat-elevation-z4 m-auto"
    style="max-width: 90%"
    *ngIf="idAndLang$ | async as idAndLang"
  >
    <form class="form-field-full" [formGroup]="form" *ngIf="selected$ | async">
      <mat-form-field appearance="outline">
        <mat-label>{{ 'products.create.identifier' | translate }}</mat-label>
        <input matInput formControlName="identifier" />
        <mat-error *ngIf="form.controls.identifier.errors?.required">
          {{ 'validations.required' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'products.create.sort_order' | translate }}</mat-label>
        <input matInput formControlName="sortOrder" type="number" />
        <mat-error *ngIf="form.controls.sortOrder.invalid">
          {{ 'validations.required' | translate }}
        </mat-error>
      </mat-form-field>

      <div appearance="outline" *ngIf="categories$ | async as categories">
        <mat-label>{{ 'products.create.categories' | translate }}</mat-label>
        <app-tree-select [data]="categories" formControlName="categories"></app-tree-select>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'merchants.create.date_available' | translate }}</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dateAvailable" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="form.controls.dateAvailable.invalid">
          {{ 'validations.required' | translate }}
        </mat-error>
      </mat-form-field>

      <div *ngIf="manufacturers$ | async as manufacturers">
        <mat-label>{{ 'products.create.manufacturer' | translate }}</mat-label>
        <app-autocomplete-select
          [options]="manufacturers"
          formControlName="manufacturer"
        ></app-autocomplete-select>
        <mat-error *ngIf="form.controls.manufacturer.errors?.required">
          {{ 'validations.required' | translate }}
        </mat-error>
      </div>

      <div *ngIf="productTypes$ | async as productTypes">
        <mat-label>{{ 'products.create.type' | translate }}</mat-label>
        <app-autocomplete-select
          [options]="productTypes"
          formControlName="type"
        ></app-autocomplete-select>
        <mat-error *ngIf="form.controls.type.errors?.required">
          {{ 'validations.required' | translate }}
        </mat-error>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'products.create.price' | translate }}</mat-label>
        <input matInput formControlName="price" type="number" />
        <mat-error *ngIf="form.controls.price.invalid">
          {{ 'validations.required' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'products.create.quantity' | translate }}</mat-label>
        <input matInput formControlName="quantity" type="number" />
        <mat-error *ngIf="form.controls.quantity.invalid">
          {{ 'validations.required' | translate }}
        </mat-error>
      </mat-form-field>

      <div>
        <mat-checkbox formControlName="shipeable">{{
          'products.create.shipeable' | translate
        }}</mat-checkbox>
      </div>

      <div>
        <mat-checkbox formControlName="canBePurchased">{{
          'products.create.can_be_purchased' | translate
        }}</mat-checkbox>
      </div>

      <div>
        <mat-checkbox formControlName="visible">{{
          'products.create.visible' | translate
        }}</mat-checkbox>
      </div>

      <div>
        <mat-checkbox formControlName="virtual">{{
          'products.create.virtual' | translate
        }}</mat-checkbox>
      </div>

      <ng-container formGroupName="productSpecifications">
        <mat-form-field appearance="outline">
          <mat-label>{{ 'brands.create.width' | translate }}</mat-label>
          <input matInput formControlName="width" type="number" />
          <mat-error *ngIf="productSpecifications.controls.width.invalid">
            {{ 'validations.required' | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ 'brands.create.height' | translate }}</mat-label>
          <input matInput formControlName="height" type="number" />
          <mat-error *ngIf="productSpecifications.controls.height.invalid">
            {{ 'validations.required' | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ 'brands.create.length' | translate }}</mat-label>
          <input matInput formControlName="length" type="number" />
          <mat-error *ngIf="productSpecifications.controls.length.invalid">
            {{ 'validations.required' | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ 'brands.create.weight' | translate }}</mat-label>
          <input matInput formControlName="weight" type="number" />
          <mat-error *ngIf="productSpecifications.controls.weight.invalid">
            {{ 'validations.required' | translate }}
          </mat-error>
        </mat-form-field>
      </ng-container>

      <ng-container *ngIf="languages$ | async as languages">
        <app-update-description
          [languages]="languages"
          formControlName="descriptions"
          (languageChange)="hanldeCountryChange($event)"
        ></app-update-description>
      </ng-container>

      <div class="button-row">
        <button
          type="button"
          class="w-full"
          mat-raised-button
          color="primary"
          (click)="update($event, idAndLang.id, idAndLang.lang)"
        >
          {{ 'common.submit' | translate }}
        </button>

        <button
          type="button"
          class="w-full"
          mat-raised-button
          color="warn"
          (click)="delete(idAndLang.id)"
        >
          {{ 'common.delete' | translate }}
        </button>

        <button
          type="button"
          class="w-full"
          mat-raised-button
          color="accent"
          [routerLink]="['/products', 'list']"
        >
          {{ 'common.back_to_list' | translate }}
        </button>

        <button
          type="button"
          class="w-full"
          mat-raised-button
          color="accent"
          [routerLink]="['/products', 'update', idAndLang.id, 'attributes', 'list']"
          [queryParams]="{ lang: idAndLang.lang }"
        >
          {{ 'products.update.attributes' | translate }}
        </button>

        <button
          type="button"
          class="w-full"
          mat-raised-button
          color="accent"
          [routerLink]="['/products', 'update', idAndLang.id, 'variants', 'list']"
          [queryParams]="{ lang: idAndLang.lang }"
        >
          {{ 'products.update.variants' | translate }}
        </button>
      </div>
    </form>
  </mat-card>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
