<div class="w-full h-full" fxLayout="row nowrap">
  <mat-card
    class="mat-elevation-z4 m-auto"
    style="max-width: 90%"
    *ngIf="idAndLang$ | async as idAndLang"
  >
    <form class="form-field-full" [formGroup]="form" *ngIf="selected$ | async">
      <mat-form-field appearance="outline">
        <mat-label>{{ 'products.create.identifier' | translate }}</mat-label>
        <input matInput formControlName="identifier" />
        <mat-error *ngIf="form.controls.identifier.errors?.required">
          {{ 'validations.required' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'products.create.sort_order' | translate }}</mat-label>
        <input matInput formControlName="sortOrder" type="number" />
        <mat-error *ngIf="form.controls.sortOrder.invalid">
          {{ 'validations.required' | translate }}
        </mat-error>
      </mat-form-field>

      <div appearance="outline" *ngIf="categories$ | async as categories">
        <mat-label>{{ 'products.create.categories' | translate }}</mat-label>
        <app-tree-select [data]="categories" formControlName="categories"></app-tree-select>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'merchants.create.date_available' | translate }}</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dateAvailable" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="form.controls.dateAvailable.invalid">
          {{ 'validations.required' | translate }}
        </mat-error>
      </mat-form-field>

      <div *ngIf="manufacturers$ | async as manufacturers">
        <mat-label>{{ 'products.create.manufacturer' | translate }}</mat-label>
        <app-autocomplete-select
          [options]="manufacturers"
          formControlName="manufacturer"
        ></app-autocomplete-select>
        <mat-error *ngIf="form.controls.manufacturer.errors?.required">
          {{ 'validations.required' | translate }}
        </mat-error>
      </div>

      <div *ngIf="productTypes$ | async as productTypes">
        <mat-label>{{ 'products.create.type' | translate }}</mat-label>
        <app-autocomplete-select
          [options]="productTypes"
          formControlName="type"
        ></app-autocomplete-select>
        <mat-error *ngIf="form.controls.type.errors?.required">
          {{ 'validations.required' | translate }}
        </mat-error>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'products.create.price' | translate }}</mat-label>
        <input matInput formControlName="price" type="number" />
        <mat-error *ngIf="form.controls.price.invalid">
          {{ 'validations.required' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'products.create.quantity' | translate }}</mat-label>
        <input matInput formControlName="quantity" type="number" />
        <mat-error *ngIf="form.controls.quantity.invalid">
          {{ 'validations.required' | translate }}
        </mat-error>
      </mat-form-field>

      <div>
        <mat-checkbox formControlName="shipeable">{{
          'products.create.shipeable' | translate
        }}</mat-checkbox>
      </div>

      <div>
        <mat-checkbox formControlName="canBePurchased">{{
          'products.create.can_be_purchased' | translate
        }}</mat-checkbox>
      </div>

      <div>
        <mat-checkbox formControlName="visible">{{
          'products.create.visible' | translate
        }}</mat-checkbox>
      </div>

      <div>
        <mat-checkbox formControlName="virtual">{{
          'products.create.virtual' | translate
        }}</mat-checkbox>
      </div>

      <ng-container formGroupName="productSpecifications">
        <mat-form-field appearance="outline">
          <mat-label>{{ 'brands.create.width' | translate }}</mat-label>
          <input matInput formControlName="width" type="number" />
          <mat-error *ngIf="productSpecifications.controls.width.invalid">
            {{ 'validations.required' | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ 'brands.create.height' | translate }}</mat-label>
          <input matInput formControlName="height" type="number" />
          <mat-error *ngIf="productSpecifications.controls.height.invalid">
            {{ 'validations.required' | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ 'brands.create.length' | translate }}</mat-label>
          <input matInput formControlName="length" type="number" />
          <mat-error *ngIf="productSpecifications.controls.length.invalid">
            {{ 'validations.required' | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ 'brands.create.weight' | translate }}</mat-label>
          <input matInput formControlName="weight" type="number" />
          <mat-error *ngIf="productSpecifications.controls.weight.invalid">
            {{ 'validations.required' | translate }}
          </mat-error>
        </mat-form-field>
      </ng-container>

      <div formArrayName="descriptions" *ngIf="languages$ | async as languages">
        <ng-container *ngFor="let language of languages; let i = index" [formGroupName]="i">
          <mat-form-field appearance="outline">
            <mat-label>{{ 'description.language' | translate }}</mat-label>
            <mat-select
              [compareWith]="compareCode"
              formControlName="language"
              (selectionChange)="hanldeCountryChange($event)"
            >
              <mat-option *ngFor="let language of languages" [value]="language.code">
                {{ language.code }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="getIndexedFormGroup(i).controls.description.errors?.required">
              {{ 'validations.required' | translate }}
            </mat-error>
          </mat-form-field>
          <div class="form-field">
            <mat-form-field appearance="outline">
              <mat-label>{{ 'description.title' | translate }}</mat-label>
              <input matInput formControlName="title" />
              <mat-error *ngIf="getIndexedFormGroup(i).controls.description.errors?.required">
                {{ 'validations.required' | translate }}
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>{{ 'description.name' | translate }}</mat-label>
              <input matInput formControlName="name" />
              <mat-error *ngIf="getIndexedFormGroup(i).controls.name.errors?.required">
                {{ 'validations.required' | translate }}
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>{{ 'description.friendly_url' | translate }}</mat-label>
              <input matInput formControlName="friendlyUrl" />
              <mat-error *ngIf="getIndexedFormGroup(i).controls.friendlyUrl.errors?.required">
                {{ 'validations.required' | translate }}
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>{{ 'description.highlights' | translate }}</mat-label>
              <input matInput formControlName="highlights" />
              <mat-error *ngIf="getIndexedFormGroup(i).controls.highlights.errors?.required">
                {{ 'validations.required' | translate }}
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>{{ 'description.meta_description' | translate }}</mat-label>
              <input matInput formControlName="metaDescription" />
              <mat-error *ngIf="getIndexedFormGroup(i).controls.metaDescription.errors?.required">
                {{ 'validations.required' | translate }}
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>{{ 'description.keyWords' | translate }}</mat-label>
              <input matInput formControlName="keyWords" />
              <mat-error *ngIf="getIndexedFormGroup(i).controls.keyWords.errors?.required">
                {{ 'validations.required' | translate }}
              </mat-error>
            </mat-form-field>

            <div appearance="outline">
              <mat-label>{{ 'description.description' | translate }}</mat-label>
              <app-rich-editor formControlName="description"></app-rich-editor>
              <mat-error
                *ngIf="
                  getIndexedFormGroup(i).controls.description.dirty &&
                  getIndexedFormGroup(i).controls.description.errors?.required
                "
              >
                {{ 'validations.required' | translate }}
              </mat-error>
            </div>
          </div>
        </ng-container>
      </div>

      <div class="button-row">
        <button
          type="button"
          class="w-full"
          mat-raised-button
          color="primary"
          (click)="update($event, idAndLang.id, idAndLang.lang)"
        >
          {{ 'common.submit' | translate }}
        </button>

        <button
          type="button"
          class="w-full"
          mat-raised-button
          color="warn"
          (click)="delete(idAndLang.id)"
        >
          {{ 'common.delete' | translate }}
        </button>

        <button
          type="button"
          class="w-full"
          mat-raised-button
          color="accent"
          [routerLink]="['/products', 'list']"
        >
          {{ 'common.back_to_list' | translate }}
        </button>

        <button
          type="button"
          class="w-full"
          mat-raised-button
          color="accent"
          [routerLink]="['/products', 'update', idAndLang.id, 'attributes', 'list']"
          [queryParams]="{ lang: idAndLang.lang }"
        >
          {{ 'products.update.attributes' | translate }}
        </button>

        <button
          type="button"
          class="w-full"
          mat-raised-button
          color="accent"
          [routerLink]="['/products', 'update', idAndLang.id, 'variants', 'list']"
          [queryParams]="{ lang: idAndLang.lang }"
        >
          {{ 'products.update.variants' | translate }}
        </button>
      </div>
    </form>
  </mat-card>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
