.preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-row {
  display: flex;
  justify-content: flex-end;
  button {
    margin: 10px 20px;
  }
}
