<page-header></page-header>

<div class="w-full h-full" fxLayout="row wrap" *ngIf="countries$ | async as countries">
  <form class="form-field-full" [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>{{ 'common.language' | translate }}</mat-label>
      <mat-select formControlName="language">
        <mat-option *ngFor="let language of languages$ | async" [value]="language.code">
          {{ language.code | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'register.email' | translate }}</mat-label>
      <input matInput formControlName="emailAddress" />
      <mat-error *ngIf="form.controls.emailAddress.errors?.required">
        {{ 'validations.required' | translate }}
      </mat-error>
      <mat-error *ngIf="form.controls.emailAddress.errors?.unique">
        {{ 'validations.exist' | translate : { value: form.controls.emailAddress.value } }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'register.gender' | translate }}</mat-label>
      <mat-select formControlName="gender">
        <mat-option value="M">Male</mat-option>
        <mat-option value="F">Female</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="addrs">
      <mat-card class="mat-elevation-z4 m-0" formGroupName="billing">
        <mat-card-title>Billing Address</mat-card-title>
        <mat-form-field appearance="outline">
          <mat-label>{{ 'register.firstName' | translate }}</mat-label>
          <input matInput formControlName="firstName" />
          <mat-error *ngIf="billing.controls.firstName.invalid">
            {{ 'validations.required' | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ 'register.lastName' | translate }}</mat-label>
          <input matInput formControlName="lastName" />
          <mat-error *ngIf="billing.controls.lastName.invalid">
            {{ 'validations.required' | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ 'register.phone' | translate }}</mat-label>
          <input matInput formControlName="phone" />
          <mat-error *ngIf="billing.controls.phone.invalid">
            {{ 'validations.required' | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ 'register.company' | translate }}</mat-label>
          <input matInput formControlName="company" />
          <mat-error *ngIf="billing.controls.company.invalid">
            {{ 'validations.required' | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ 'register.address' | translate }}</mat-label>
          <input matInput formControlName="address" />
          <mat-error *ngIf="billing.controls.address.invalid">
            {{ 'validations.required' | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ 'register.city' | translate }}</mat-label>
          <input matInput formControlName="city" />
          <mat-error *ngIf="billing.controls.city.invalid">
            {{ 'validations.required' | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ 'register.postalCode' | translate }}</mat-label>
          <input matInput formControlName="postalCode" />
          <mat-error *ngIf="billing.controls.postalCode.invalid">
            {{ 'validations.required' | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Country</mat-label>
          <mat-select formControlName="country">
            <mat-option *ngFor="let country of countries" [value]="country.code">
              {{ country.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" *ngIf="billingStateProvinces$ | async as states">
          <mat-label>State</mat-label>
          <mat-select formControlName="zone">
            <mat-option *ngFor="let state of states" [value]="state.code">
              {{ state.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card>

      <mat-card class="mat-elevation-z4 m-0" formGroupName="delivery">
        <mat-card-title>Shipping Address</mat-card-title>
        <mat-form-field appearance="outline">
          <mat-label>{{ 'register.firstName' | translate }}</mat-label>
          <input matInput formControlName="firstName" />
          <mat-error *ngIf="delivery.controls.firstName.invalid">
            {{ 'validations.required' | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ 'register.lastName' | translate }}</mat-label>
          <input matInput formControlName="lastName" />
          <mat-error *ngIf="delivery.controls.lastName.invalid">
            {{ 'validations.required' | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ 'register.phone' | translate }}</mat-label>
          <input matInput formControlName="phone" />
          <mat-error *ngIf="delivery.controls.phone.invalid">
            {{ 'validations.required' | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ 'register.address' | translate }}</mat-label>
          <input matInput formControlName="address" />
          <mat-error *ngIf="delivery.controls.address.invalid">
            {{ 'validations.required' | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ 'register.city' | translate }}</mat-label>
          <input matInput formControlName="city" />
          <mat-error *ngIf="delivery.controls.city.invalid">
            {{ 'validations.required' | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ 'register.postalCode' | translate }}</mat-label>
          <input matInput formControlName="postalCode" />
          <mat-error *ngIf="delivery.controls.postalCode.invalid">
            {{ 'validations.required' | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Country</mat-label>
          <mat-select formControlName="country">
            <mat-option *ngFor="let country of countries" [value]="country.code">
              {{ country.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" *ngIf="deliveryStateProvinces$ | async as states">
          <mat-label>State</mat-label>
          <mat-select formControlName="zone">
            <mat-option *ngFor="let state of states" [value]="state.code">
              {{ state.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card>
    </div>

    <button
      type="button"
      class="w-full"
      mat-raised-button
      color="primary"
      (click)="form.valid ? create($event) : null"
      [disabled]="form.invalid"
    >
      {{ 'users.create.submit' | translate }}
    </button>
  </form>
</div>
